.cropsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Arial", sans-serif;
}