.history {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.history h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #333;
    text-transform: capitalize;
}

.history div {
    width: 100%;
}

.MuiTablePagination-root {
    width: 250px;
}